  <!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div id="logo">
            <h1><a href="index.html"><span>maui</span>Resource</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#features">Librerias</a></li>
                <li class="dropdown">
                    <a href="#"><span>Cursos</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li class="dropdown">
                            <a href="#"><span>Web Dev</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">HTML Enfocado a Blazor</a></li>
                                <li><a href="#">CSS Enfocado a Blazor</a></li>
                                <li><a href="#">Javascript Enfocado a Blazor</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Fundamentos</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Fundamentos de Programacion con C#</a></li>
                                <li><a href="#">Fundamentos de programación con JS</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>OOP</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Programacion Orientada a objetos con C#</a></li>
                                <li><a href="#">Programacion Orientada a objetos con JS</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Blozor for Beginers</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Fist App With Blazor</a></li>
                                <li><a href="#">Blazor Componentes Nativos</a></li>
                                <li><a href="#">Blazor Structure</a></li>
                                <li><a href="#">Blazor versions Undertanding</a></li>
                                <li><a href="#">Understanding .NET and Blazor</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Blazor Intermediate</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Components</a></li>
                                <li><a href="#">Popup, Faceplate and EventHanding</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Bootstrap</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">General Bootstrap Components</a></li>
                                <li><a href="#">Bootstrap Templates</a></li>
                                <li><a href="#">Blazor Bootstrap Aplications</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Blazor for Childs</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Ludics Apps</a></li>
                                <li><a href="#">Enviropment</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Server</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">http Request</a></li>
                                <li><a href="#">Databases</a></li>
                                <li><a href="#">Web Api .NET</a></li>
                                <li><a href="#">Realtime APP</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>GitHab</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Fundamentals</a></li>
                                <li><a href="#">Administration</a></li>
                                <li><a href="#">Push and Pull</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>SQL</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">SQL for Blazor</a></li>
                                <li><a href="#">LinQ for Blazor</a></li>
                                <li><a href="#">Queries Works</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Host</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">IIS</a></li>
                                <li><a href="#">AZURE</a></li>
                                <li><a href="#">AMAZOM AWS</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#team">Equipo</a></li>
                <li class="dropdown">
                    <a href="#"><span>Software</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li class="dropdown">
                            <a href="#"><span>Maui Aplication</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">App Andrioid</a></li>
                                <li><a href="#">App iOS</a></li>
                                <li><a href="#">Desktop App iOS</a></li>
                                <li><a href="#">Desktop App Windows</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Blazor Web</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Web App Server</a></li>
                                <li><a href="#">Web App Webassembly</a></li>
                                <li><a href="#">Webassembly Aplication</a></li>
                                <li><a href="#">Blazor Server Aplication</a></li>
                                <li><a href="#">Blazor Hybrid Web</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Real Time Aplicatios</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">App With Signal IR</a></li>
                                <li><a href="#">App With Render Mode</a></li>
                                <li><a href="#">Combinations any SignaIR</a></li>
                                <li><a href="#">Render mode and SIGNAL IR</a></li>
                                <li><a href="#">Global SSL Conection</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Automatization IoT</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Realtime Data Analitics</a></li>
                                <li><a href="#">Ignition and Blazor Conection</a></li>
                                <li><a href="#">Graphics Realtime View</a></li>
                                <li><a href="#">Dahboar Blazor</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Data Analitics</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Database Administrator</a></li>
                                <li><a href="#">Excel Adnvance and Generation</a></li>
                                <li><a href="#">Report pdf Creations</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Azure</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Database SQL</a></li>
                                <li><a href="#">Blob Storage</a></li>
                                <li><a href="#">Api Host</a></li>
                                <li><a href="#">Web Site Hosting</a></li>
                                <li><a href="#">IA Asistant</a></li>
                                <li><a href="#">Cost</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Topics</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Oil and Gas</a></li>
                                <li><a href="#">Marcketing</a></li>
                                <li><a href="#">Economics</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Engeenier Aplicatios</a></li>


                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->